.form {
  &-body {
    background: white;
    box-shadow: 0 2px 3px -3px #000000;
    border-radius: 5px;
    padding: 20px;

    @media screen and (max-width: 458px) {
      padding: 20px 10px;
    }
  }

  &-buttons-container {
    display: flex;
    padding: 5px 0;
    flex-wrap: wrap;
  }

  &-button {
    background: #E7E7E787;
    flex-grow: 1;
    margin: 0 20px;
    border-radius: 5px;
    color: grey;
    font-weight: 700;
    padding: 15px 20px;

    @media screen and (max-width: 358px) {
      margin-bottom: 10px;
    }

    &:hover {
      opacity: 0.9;
    }

    &:active {
      opacity: 0.7;
    }

    &.active {
      background-color: #59c171;
      color: white;
    }
  }
}
