.form-field {
  margin-bottom: 20px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.input-container {
  position: relative;
  border: 1px solid #e7e7e7;
  min-height: 30px;
  padding: 12px 0;
  border-radius: 4px;
  transition: all .3s;
  margin-bottom: 2px;

  &:focus-within:not(.input-container_disable-focus) {
    border: 1px solid #999999;
  }

  .label-main {
    position: absolute;
    pointer-events: none;
    top: -9px;
    left: 15px;
    font-size: 14px;
    background: white;
    padding: 0 10px;
  }

  input, textarea {
    border: none;
    outline: none;
    font-size: 16px;
    width: 100%;
    background: transparent;
    padding: 0 10px;
    resize: none;
  }

  &-editor {
    padding-top: 0;

    .label-main {
      background: #f2f2f2;
      background: linear-gradient(0deg, rgba(242, 242, 242, 1) 0%, rgba(255, 255, 255, 1) 100%);
    }
  }
}

.labels-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

  label {
    font-size: 14px;
    color: grey;
  }
}

.editor {
  .ql-container {
    border: none !important;
    font-size: 16px;
    font-family: inherit;
  }

  .ql-toolbar {
    background-color: #E7E7E787;
    border: none !important;
    border-bottom: 1px solid #999999 !important;
    padding: 18px 0 10px;

    &:first-child {
      display: none;
    }
  }

  .ql-editor {
    padding: 10px;
    max-height: calc(100% - 40px) !important;
  }
}
