$header_back: #46a2e5;

.header {
  width: 100%;
  background: $header_back;
  height: 50px;
  position: fixed;
  z-index: 1000;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
  }
}
